.form_container {
    display: block;
}

.form {
    display: flex;
    flex-direction: column;
}

.form_addBtn, .form_addBtn:focus {
    background-color: #3ec67e;
    border-radius: 5px;
    border: transparent;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    color: #f6fafd;
    font-family: auto;
    padding: 10px;
    float: right;
    margin-top: 20px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
}

.form_addBtn:hover {
    background-color: #89dfb1;
}

.form_input, .form_input:focus {
    background-color: #f9fdff;
    border-color: transparent;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    outline: none;
    text-transform: capitalize;
}