.sidebar {
    background-color: #2761a0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    color: #f6fafd;
    padding: 15px;
    height: 100%;
    font-size: 14px;
}

.sidebar_user {
    color: #f6fafd;
    background-color: #23568f;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.sidebar_user__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar_user__info {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.sidebar_user__name {
    margin-right: 20px;
}

.sidebar_user__mail {
    color: #c6c9cc;
    font-size: 11px;
}

.side_nav {
    list-style: none;
    margin-top: 1rem;
}
.side_nav__item {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.side_nav__item:not(:last-child) {
    margin-bottom: 1rem;
}

.side_nav__item::before {
    content: "";
    height: 100%;
    width: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(116, 161, 230);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}

.side_nav__ietm:active::before {
    background-color: rgb(191, 204, 224);
}

.side_nav__link:link, .side_nav__link:visited {
    color: #f6fafd;
    text-decoration: none;
    position: relative;
    z-index: 10;
    display: block;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}
.margin_10 {
    margin-left: 10px;
}